& .writeComment-container {
  // width: 90%;
  padding: 5px;
  display: flex;
  @include sm{
    flex-direction: column;
  }
  & .user-details-container {
    padding: 5px;
    & img {
      width: 50px;
    }
  }
  & .write-container {
    width: stretch;
    & textarea {
      width: 100%;
      height: 30vh;
      resize: none;
      padding: 10px;
      border-radius: 10px;
      background-color: transparent;
      @include md{
        height:20vh
      }
    }
  }
  & .actions-container {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    & > * {
      margin-bottom: 10px;
    }
  }
}
