& .admin-panel-home-body {
	width: 100%;
	margin: 20px 0;
	& .admin-panel-home-stats-head {
		@include position;
		& h3 {
			font-size: larger;
			font-family: cursive;
		}
	}
    & .admin-panel-home-stats-body{
        @include position();
        padding: 0 20px;
        flex-wrap: wrap;
        position: relative;
        height: auto;
        width: 100%;
        gap: 20px;
        @include sm{
            padding: 0 10px;
            gap: 10px
        }

        & .admin-panel-home-stats-item{
            @include position(center, center, column);
            width: 25%;
            height: 35vh;
            background-color: rgba(51, 51, 51, 0.123);
            @include md{
                width: 47%;
                height: 40vh;
            }
            @include sm{
                width: calc(100% - 20px)
            }
            & .chart-container{
                @include position;
                width: 100%;
                height: 80%;
                & .chart{
                    font-size: 200px;
                }
            }
            & .chart-desc{
                @include position;
                width: 80%;
                height: 20%;
                font-size: large;
                font-weight: lighter;
                border-top: 1px solid $secondary;
            }
        }
    }
}
