& .title {
  font-size: 30px;
  @include sm {
    font-size: 25px;
  }
}

& .filter-container {
  & div {
    @include position(center, center);
    @include sm {
      font-size: 14px;
    }
  }
  & select {
    background-color: transparent;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
    @include sm {
      font-size: 14px;
    }
    & option {
      color: black;
    }
  }
}
