@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: scale(0) translateY(100%);
  }
  100% {
    transform: scale(1) translateY(0%);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: scale(0) translateX(100%);
  }
  100% {
    transform: scale(1) translateX(0%);
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: scale(0) translateX(-100%);
  }
  100% {
    transform: scale(1) translateX(0%);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
