& .comments-container {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
  & .comments-head {
    padding: 0 5%;
    width: 1000%;
    height: 10vh;
    font-size: 30px;
    font-weight: bold;

    & span {
      padding: 5px 10px;
      border-radius: 10px;
      font-weight: lighter;
      color: white;
    }
  }
  & .comments-body {
    @include postion(center, center, column);
    width: 100%;
    padding: 20px;
  }
  & .btn-container {
    width: 95%;
    @include position(flex-end, flex-end);
  }
}
