& .topBar {
  @include position(center, center);
  width: 100%;
  height: 10vh;
  position: fixed;
  transition: 0.2s;
  @include sm {
    height: 15vh;
  }
  & .topBar-container {
    @include position(center, space-between);
    width: 90%;
    height: 100%;
    @include sm {
      width: 96%;
    }
    & .logo {
      font-size: x-large;
      font-weight: lighter;
      color: white;
      font-family: cursive;
      & span {
        font-size: x-large;
        font-weight: lighter;
        @include md {
          display: none;
        }
      }
    }
    & .search-container {
      @include position(center, center);
      // background-color: rgba(255, 255, 255, 0.319);
      padding: 7px 10px;
      border-radius: 30px;
      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, 0.4);
      }
      @include sm {
        padding: 5px;
      }

      & input {
        margin-left: 10px;
        width: 50vw;
        color: white;
        height: 60%;
        background-color: transparent;
        border: none;
        font-size: 15px;
        &:focus {
          outline: none;
        }
      }
      & .cancel {
        @include position;
        & .cancel-icon {
          font-size: 25px;
          cursor: pointer;
        }
      }
    }

    & .top-theme-switcher {
      width: 50px;
      height: 25px;
      position: relative;
      display: flex;
      border: 2px solid white;
      border-radius: 20px;
      @include sm {
        width: 55px;
        height: 25px;
      }
      &:hover {
        cursor: pointer;
        & .ball {
          transform: scale(1.1);
        }
      }
      & .ball {
        top: 0;
        left: 0;
        position: absolute;
        height: 99%;
        background-color: white;
        width: 50%;
        border-radius: 50%;
      }
      & .theme-container {
        width: 50%;
        height: 100%;
        @include position;
        border-radius: 50%;
        & img {
          width: 90%;
          height: 90%;
        }
      }
    }

    & .top-profile-container {
      @include position(center, _);

      & .top-profile-con {
        margin-left: 20px;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 10px;
        border-radius: 50%;
        @include sm {
          margin: 0;
          padding: 5px;
        }
        &:hover {
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.26);
        }
        & .top-profile-main-container {
          color: white;
          position: relative;

          & .badge {
            @include position;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: red;
            position: absolute;
            top: -7.5px;
            right: -7.5px;
            color: white;
            font-size: 11px;
          }
        }
        &.notification {
          @include sm {
            display: none;
          }
        }
      }
    }
  }
}
