@import "./sass/sassComponents/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "josefin Sans", sans-serif;
  font-size: 15px;
  transition: 0.3s;
}

body {
  margin: 0;
}

main.App {
  position: relative;
  width: 100%;
  height: auto;
  height: auto;
  overflow-x: hidden;
  @import "./sass/components/topBar";
  & .app-body {
    display: flex;
    width: 100%;

    & .left-container {
      position: fixed;
      top: 0;
      left: 0;
      width: auto;
      min-width: 5%;
      height: 100vh;
      padding: 0;
      padding-top: 10vh;
      box-shadow: $shadow-sm;
      @include sm {
        padding-top: 15vh;
      }
      @import "./sass/components/leftBar";
    }
    & .right-body-container {
      margin-left: auto;
      width: auto;
      max-width: 95%;
      display: flex;
      transition: 0.3s;
      padding-top: 10vh;
      @include sm {
        padding-top: 15vh;
      }
      @include sm {
        flex-direction: column;
        max-width: 88%;
      }
      & .body-container {
        flex: 2.5;
        @include md {
          flex: 2;
        }
        @include sm {
          flex: 1;
        }
        @import "./sass/pages/home";
      }

      & .right-container {
        flex: 1;
        box-shadow: $shadow;
        @import "./sass/components/rightBar";
      }
    }
  }
  @import "./sass/components/feed";
  @import "./sass/components/post";
  & .add-circle-btn {
    width: 75px;
    height: 75px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    &:active {
      transform: scale(0.8);
    }
  }
}
