@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateY(100%);
            transform: scale(0) translateY(100%);
  }
  100% {
    -webkit-transform: scale(1) translateY(0%);
            transform: scale(1) translateY(0%);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateY(100%);
            transform: scale(0) translateY(100%);
  }
  100% {
    -webkit-transform: scale(1) translateY(0%);
            transform: scale(1) translateY(0%);
  }
}

@-webkit-keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateX(100%);
            transform: scale(0) translateX(100%);
  }
  100% {
    -webkit-transform: scale(1) translateX(0%);
            transform: scale(1) translateX(0%);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateX(100%);
            transform: scale(0) translateX(100%);
  }
  100% {
    -webkit-transform: scale(1) translateX(0%);
            transform: scale(1) translateX(0%);
  }
}

@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateX(-100%);
            transform: scale(0) translateX(-100%);
  }
  100% {
    -webkit-transform: scale(1) translateX(0%);
            transform: scale(1) translateX(0%);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateX(-100%);
            transform: scale(0) translateX(-100%);
  }
  100% {
    -webkit-transform: scale(1) translateX(0%);
            transform: scale(1) translateX(0%);
  }
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "josefin Sans", sans-serif;
  font-size: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.Link {
  color: inherit;
  text-decoration: none;
}

main.App {
  position: relative;
  width: 100%;
  height: auto;
  height: auto;
  overflow-x: hidden;
}

main.App .topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 10vh;
  position: fixed;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 550px) {
  main.App .topBar {
    height: 15vh;
  }
}

main.App .topBar .topBar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 100%;
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container {
    width: 96%;
  }
}

main.App .topBar .topBar-container .logo {
  font-size: x-large;
  font-weight: lighter;
  color: white;
  font-family: cursive;
}

main.App .topBar .topBar-container .logo span {
  font-size: x-large;
  font-weight: lighter;
}

@media (max-width: 800px) {
  main.App .topBar .topBar-container .logo span {
    display: none;
  }
}

main.App .topBar .topBar-container .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 7px 10px;
  border-radius: 30px;
}

main.App .topBar .topBar-container .search-container:hover, main.App .topBar .topBar-container .search-container:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container .search-container {
    padding: 5px;
  }
}

main.App .topBar .topBar-container .search-container input {
  margin-left: 10px;
  width: 50vw;
  color: white;
  height: 60%;
  background-color: transparent;
  border: none;
  font-size: 15px;
}

main.App .topBar .topBar-container .search-container input:focus {
  outline: none;
}

main.App .topBar .topBar-container .search-container .cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.App .topBar .topBar-container .search-container .cancel .cancel-icon {
  font-size: 25px;
  cursor: pointer;
}

main.App .topBar .topBar-container .top-theme-switcher {
  width: 50px;
  height: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container .top-theme-switcher {
    width: 55px;
    height: 25px;
  }
}

main.App .topBar .topBar-container .top-theme-switcher:hover {
  cursor: pointer;
}

main.App .topBar .topBar-container .top-theme-switcher:hover .ball {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main.App .topBar .topBar-container .top-theme-switcher .ball {
  top: 0;
  left: 0;
  position: absolute;
  height: 99%;
  background-color: white;
  width: 50%;
  border-radius: 50%;
}

main.App .topBar .topBar-container .top-theme-switcher .theme-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 50%;
}

main.App .topBar .topBar-container .top-theme-switcher .theme-container img {
  width: 90%;
  height: 90%;
}

main.App .topBar .topBar-container .top-profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.App .topBar .topBar-container .top-profile-container .top-profile-con {
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 50%;
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container .top-profile-container .top-profile-con {
    margin: 0;
    padding: 5px;
  }
}

main.App .topBar .topBar-container .top-profile-container .top-profile-con:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.26);
}

main.App .topBar .topBar-container .top-profile-container .top-profile-con .top-profile-main-container {
  color: white;
  position: relative;
}

main.App .topBar .topBar-container .top-profile-container .top-profile-con .top-profile-main-container .badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: -7.5px;
  right: -7.5px;
  color: white;
  font-size: 11px;
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container .top-profile-container .top-profile-con.notification {
    display: none;
  }
}

main.App .app-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main.App .app-body .left-container {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  min-width: 5%;
  height: 100vh;
  padding: 0;
  padding-top: 10vh;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
          box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
}

@media (max-width: 550px) {
  main.App .app-body .left-container {
    padding-top: 15vh;
  }
}

main.App .app-body .left-container .leftBar {
  height: 100%;
  width: 100%;
  color: white;
  overflow-y: scroll;
}

main.App .app-body .left-container .leftBar::-webkit-scrollbar {
  display: none;
}

main.App .app-body .left-container .leftBar .left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 2px solid transparent;
}

@media (max-width: 800px) {
  main.App .app-body .left-container .leftBar .left-item {
    padding: 0 15px;
  }
}

main.App .app-body .left-container .leftBar .left-item:hover {
  border-color: rgba(255, 255, 255, 0.371);
  cursor: pointer;
}

main.App .app-body .left-container .leftBar .left-item:active {
  border-color: transparent;
  -webkit-transition: 0;
  transition: 0;
}

main.App .app-body .left-container .leftBar .left-item.menu {
  height: 70px;
  position: absolute;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

main.App .app-body .left-container .leftBar .left-item.menu:hover {
  cursor: default;
  border-color: transparent;
}

main.App .app-body .left-container .leftBar .left-item .menu-icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  font-size: 30px;
  cursor: pointer;
}

main.App .app-body .left-container .leftBar .left-item .icons {
  font-size: 25px;
}

@media (max-width: 550px) {
  main.App .app-body .left-container .leftBar .left-item .icons {
    font-size: 20px;
  }
}

main.App .app-body .left-container .leftBar .left-item span {
  padding-left: 15px;
}

main.App .app-body .right-body-container {
  margin-left: auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10vh;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container {
    padding-top: 15vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 88%;
  }
}

main.App .app-body .right-body-container .body-container {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
}

@media (max-width: 800px) {
  main.App .app-body .right-body-container .body-container {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

main.App .app-body .right-body-container .body-container .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 30px;
}

main.App .app-body .right-body-container .body-container .page::-webkit-scrollbar {
  display: none;
}

main.App .app-body .right-body-container .body-container .page .page-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 15vh;
}

main.App .app-body .right-body-container .body-container .page .page-head .page-icon {
  font-size: 70px;
}

main.App .app-body .right-body-container .body-container .page .title {
  font-size: 30px;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .title {
    font-size: 25px;
  }
}

main.App .app-body .right-body-container .body-container .page .filter-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .filter-container div {
    font-size: 14px;
  }
}

main.App .app-body .right-body-container .body-container .page .filter-container select {
  background-color: transparent;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

main.App .app-body .right-body-container .body-container .page .filter-container select:focus {
  outline: none;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .filter-container select {
    font-size: 14px;
  }
}

main.App .app-body .right-body-container .body-container .page .filter-container select option {
  color: black;
}

main.App .app-body .right-body-container .body-container .page .about-item {
  text-align: center;
  width: 100%;
  padding: 0 20px;
  -webkit-animation: fadeUp 0.5s;
          animation: fadeUp 0.5s;
}

main.App .app-body .right-body-container .body-container .page .about-item .about-item-head {
  font-size: 40px;
  margin: 20px 0;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  main.App .app-body .right-body-container .body-container .page .about-item .about-item-head {
    font-size: 30px;
  }
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .about-item .about-item-head {
    margin: 10px 0;
  }
}

main.App .app-body .right-body-container .body-container .page .about-item .about-item-body {
  font-size: 18px;
}

@media (max-width: 800px) {
  main.App .app-body .right-body-container .body-container .page .about-item .about-item-body {
    font-size: 15px;
  }
}

main.App .app-body .right-body-container .body-container .page .about-item-desc {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 50vh;
  border: 2px dashed lightgray;
  overflow-x: hidden;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .about-item-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90vh;
  }
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .about-item-desc.write {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
}

main.App .app-body .right-body-container .body-container .page .about-item-desc .about-item-desc-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

main.App .app-body .right-body-container .body-container .page .about-item-desc .about-item-desc-item.img-con {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main.App .app-body .right-body-container .body-container .page .about-item-desc .about-item-desc-item.img-con.first {
  background-image: url("./images/images 1.jpg");
}

main.App .app-body .right-body-container .body-container .page .about-item-desc .about-item-desc-item.img-con.second {
  background-image: url("./images/images 3.jpg");
}

main.App .app-body .right-body-container .body-container .page .about-item-desc .about-item-desc-item.text-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
  text-align: center;
}

main.App .app-body .right-body-container .body-container .page .about-item-desc .about-item-desc-item.text-con.first {
  -webkit-animation: fadeRight 0.5s;
          animation: fadeRight 0.5s;
}

main.App .app-body .right-body-container .body-container .page .about-item-desc .about-item-desc-item.text-con.second {
  -webkit-animation: fadeLeft 0.5s;
          animation: fadeLeft 0.5s;
}

main.App .app-body .right-body-container .body-container .page .about-item-desc .about-item-desc-item.text-con .about-item-desc-text-head {
  font-size: 25px;
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .about-item-desc .about-item-desc-item.text-con .about-item-desc-text-head {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

main.App .app-body .right-body-container .body-container .page .about-item-desc .about-item-desc-item.text-con .about-item-desc-text-body {
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .about-item-desc .about-item-desc-item.text-con .about-item-desc-text-body {
    font-size: 13px;
  }
}

main.App .app-body .right-body-container .body-container .page .about-admins-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

main.App .app-body .right-body-container .body-container .page .about-admins-con .about-admins-head {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.App .app-body .right-body-container .body-container .page .about-admins-con .about-admins-head span {
  font-size: 20px;
  padding: 5px;
}

main.App .app-body .right-body-container .body-container .page .about-admins-con .about-admins-main-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 80%;
  max-width: 90%;
  min-height: 60vh;
  height: auto;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  main.App .app-body .right-body-container .body-container .page .about-admins-con .about-admins-main-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.App .app-body .right-body-container .body-container .page .about-admins-con .about-admins-main-con .about-admins-main-con-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  margin: 0 5px;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 20px;
}

main.App .app-body .right-body-container .body-container .page .about-admins-con .about-admins-main-con .about-admins-main-con-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

main.App .app-body .right-body-container .body-container .page .about-admins-con .about-admins-main-con .about-admins-main-con-item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}

main.App .app-body .right-body-container .body-container .page .about-admins-con .about-admins-main-con .about-admins-main-con-item .about-admins-desc {
  font-size: 14px;
  margin-bottom: 5px;
}

main.App .app-body .right-body-container .body-container .page .about-admins-con .about-admins-main-con .about-admins-main-con-item .about-admins-main-text {
  color: white;
  font-size: 13px;
  margin-bottom: 10px;
}

main.App .app-body .right-body-container .body-container .page .contact-form-con {
  width: 90%;
  margin-bottom: 30px;
}

main.App .app-body .right-body-container .body-container .page .contact-form-con form {
  margin-bottom: 30px;
}

main.App .app-body .right-body-container .body-container .page .contact-form-con form label {
  width: 100px;
  height: 100px;
}

main.App .app-body .right-body-container .body-container .page .contact-form-con form label .label-title {
  font-size: 13px;
  margin: 20px 0 5px 0;
}

main.App .app-body .right-body-container .body-container .page .contact-form-con form label input,
main.App .app-body .right-body-container .body-container .page .contact-form-con form label textarea {
  width: 30vw;
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid grey;
  background: transparent;
  -webkit-animation: fadeLeft 0.5s;
          animation: fadeLeft 0.5s;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .contact-form-con form label input,
  main.App .app-body .right-body-container .body-container .page .contact-form-con form label textarea {
    width: 70vw;
  }
}

main.App .app-body .right-body-container .body-container .page .contact-form-con form label textarea {
  width: 50vw;
  height: 30vh;
  padding: 10px;
  -webkit-animation: fadeRight 0.5s;
          animation: fadeRight 0.5s;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .contact-form-con form label textarea {
    width: 80vw;
  }
}

main.App .app-body .right-body-container .body-container .page .contact-form-con form .btn {
  width: 20%;
  margin-top: 20px;
  background-color: transparent;
  float: right;
}

main.App .app-body .right-body-container .body-container .page .contact-form-con .socials-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
}

main.App .app-body .right-body-container .body-container .page .contact-form-con .socials-con .social {
  padding: 10px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

main.App .app-body .right-body-container .body-container .page .contact-form-con .socials-con .social .icon {
  color: white;
}

main.App .app-body .right-body-container .body-container .page .application-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

main.App .app-body .right-body-container .body-container .page .application-body .application-info {
  width: 100%;
  -webkit-animation: fadeLeft 0.5s;
          animation: fadeLeft 0.5s;
}

main.App .app-body .right-body-container .body-container .page .application-body .application-info .icon {
  color: grey;
}

main.App .app-body .right-body-container .body-container .page .application-body ul {
  width: 90%;
  -webkit-animation: fadeRight 0.5s;
          animation: fadeRight 0.5s;
}

main.App .app-body .right-body-container .body-container .page .application-body form {
  padding: 30px 20px;
  width: auto;
  margin-top: 30px;
  border-radius: 10px;
  -webkit-animation: pop 0.5s;
          animation: pop 0.5s;
}

main.App .app-body .right-body-container .body-container .page .application-body form i {
  color: red;
  font-size: 11px;
}

main.App .app-body .right-body-container .body-container .page .application-body form label .label-title {
  font-size: 13px;
  margin: 20px 0 5px 0;
}

main.App .app-body .right-body-container .body-container .page .application-body form label input,
main.App .app-body .right-body-container .body-container .page .application-body form label textarea {
  width: 30vw;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid grey;
  background: transparent;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .application-body form label input,
  main.App .app-body .right-body-container .body-container .page .application-body form label textarea {
    width: 70vw;
  }
}

main.App .app-body .right-body-container .body-container .page .application-body form label textarea {
  width: 30vw;
  height: 30vh;
  padding: 10px;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .application-body form label textarea {
    width: 70vw;
  }
}

main.App .app-body .right-body-container .body-container .page .application-body form .btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.App .app-body .right-body-container .body-container .page .application-body form .btn-container .btn {
  width: 80%;
  margin-top: 20px;
  background-color: transparent;
}

main.App .app-body .right-body-container .body-container .page .application-body form .btn-container .btn .icon {
  margin-left: 10px;
  font-size: 15px;
}

main.App .app-body .right-body-container .body-container .page .writers-body {
  width: 100%;
}

main.App .app-body .right-body-container .body-container .page .writers-body .singleWriter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 20vh;
  width: 80%;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
          box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
  padding: 0 20px;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .writers-body .singleWriter {
    width: 90%;
    height: 25vh;
  }
}

main.App .app-body .right-body-container .body-container .page .writers-body .singleWriter img {
  width: 75px;
  height: 75px;
  border-radius: 20px;
}

main.App .app-body .right-body-container .body-container .page .writers-body .singleWriter .line {
  width: 1px;
  height: 80%;
  background-color: grey;
  margin: 0 10px;
}

main.App .app-body .right-body-container .body-container .page .writers-body .singleWriter .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75%;
  width: auto;
}

main.App .app-body .right-body-container .body-container .page .writers-body .singleWriter .details-container .details-item {
  margin-bottom: 5px;
  font-size: 12px;
}

main.App .app-body .right-body-container .body-container .page .writers-body .singleWriter .details-container .details-item.name {
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

main.App .app-body .right-body-container .body-container .page .writers-body .singleWriter .details-container .details-item.name:hover {
  color: red;
}

main.App .app-body .right-body-container .body-container .page .writers-body .singleWriter .details-container .details-item.name span {
  font-size: 12px;
  font-weight: lighter;
}

main.App .app-body .right-body-container .body-container .page .writers-body .singleWriter .details-container .btn {
  background: lightblue;
  text-transform: lowercase;
}

main.App .app-body .right-body-container .body-container .page .write-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

main.App .app-body .right-body-container .body-container .page .write-body .done-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
}

main.App .app-body .right-body-container .body-container .page .write-body .done-con .done-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}

main.App .app-body .right-body-container .body-container .page .write-body .done-con .done-item span {
  margin: 0 5px;
}

main.App .app-body .right-body-container .body-container .page .write-body .post-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 200px;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
          box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
  background-position: center;
  background-size: cover;
}

main.App .app-body .right-body-container .body-container .page .write-body .controller-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 50px;
  padding: 10px 20px;
}

main.App .app-body .right-body-container .body-container .page .write-body .controller-con .controller-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  margin: 5px;
}

main.App .app-body .right-body-container .body-container .page .write-body .controller-con .controller-item:hover {
  border-color: lightblue;
}

main.App .app-body .right-body-container .body-container .page .write-body .controller-con .controller-item span {
  margin: 0 5px;
}

main.App .app-body .right-body-container .body-container .page .write-body .title-con {
  width: 100%;
  height: 50px;
}

main.App .app-body .right-body-container .body-container .page .write-body .title-con input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 20px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid grey;
  text-align: center;
}

main.App .app-body .right-body-container .body-container .page .write-body .body-con {
  margin-top: 20px;
  width: 100%;
  height: 150vh;
  border-bottom: 1px solid grey;
}

main.App .app-body .right-body-container .body-container .page .write-body .body-con textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  resize: none;
}

main.App .app-body .right-body-container .body-container .page .write-body .body-con textarea:focus {
  outline: none;
}

main.App .app-body .right-body-container .body-container .page .singlePost-body {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

main.App .app-body .right-body-container .body-container .page .singlePost-body .post-img-container {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
          box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
}

main.App .app-body .right-body-container .body-container .page .singlePost-body .post-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  width: 100%;
  padding: 0 15px;
  min-height: 50px;
  border-bottom: 1px solid grey;
}

main.App .app-body .right-body-container .body-container .page .singlePost-body .post-title-container h3 {
  font-size: 25px;
  margin: 5px 0;
}

main.App .app-body .right-body-container .body-container .page .singlePost-body .post-desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 0 15px;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .page .singlePost-body .post-desc-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

main.App .app-body .right-body-container .right-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.1);
}

main.App .app-body .right-body-container .right-container .rightBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 5vh;
}

main.App .app-body .right-body-container .right-container .rightBar .right-head {
  font-size: 30px;
  width: 95%;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid lightgrey;
}

@media (max-width: 800px) {
  main.App .app-body .right-body-container .right-container .rightBar .right-head {
    font-size: 25px;
  }
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container {
  width: 90%;
  margin-top: 3vh;
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList {
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList .singleListItem {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
          box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
  margin-bottom: 20px;
  border-radius: 10px;
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList .singleListItem:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.067);
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList .singleListItem .img-con {
  width: 40px;
  height: 30px;
  border-right: 1px solid lightgrey;
  margin-right: 5px;
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList .singleListItem .img-con img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList .singleListItem .details-con {
  height: 90%;
  width: 80%;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList .singleListItem .details-con {
    width: 80%;
  }
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList .singleListItem .details-con .details-text-con {
  height: 50%;
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList .singleListItem .details-con .details-text-con span.name {
  font-size: 14px;
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList .singleListItem .details-con .details-text-con span.points {
  font-size: 10px;
  padding: 2px 3px;
  border-radius: 10px;
  color: white;
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList .singleListItem .details-con .details-stats-con {
  height: 50%;
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList .singleListItem .details-con .details-stats-con .details-stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 100%;
}

main.App .app-body .right-body-container .right-container .rightBar .writer-list-container .writerList .singleListItem .details-con .details-stats-con .details-stats-item .details-stat-text {
  font-size: 10px;
}

main.App .app-body .right-body-container .right-container .rightBar .story-list-container {
  width: 90%;
  margin-top: 50px;
}

main.App .app-body .right-body-container .right-container .rightBar .story-list-container .storyList {
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

main.App .app-body .right-body-container .right-container .rightBar .story-list-container .storyList .singleStoryItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  padding-right: 10px;
  border: 1px solid lightgray;
}

main.App .app-body .right-body-container .right-container .rightBar .story-list-container .storyList .singleStoryItem:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.161);
}

main.App .app-body .right-body-container .right-container .rightBar .story-list-container .storyList .singleStoryItem img {
  width: 30%;
  height: 100%;
}

main.App .app-body .right-body-container .right-container .rightBar .story-list-container .storyList .singleStoryItem .singleStoryItem-details-con {
  width: calc(70% - 10px);
  margin-left: 10px;
  height: 95%;
}

main.App .app-body .right-body-container .right-container .rightBar .story-list-container .storyList .singleStoryItem .singleStoryItem-details-item {
  overflow: hidden;
  height: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
}

main.App .app-body .right-body-container .right-container .rightBar .story-list-container .storyList .singleStoryItem .singleStoryItem-details-item.author {
  font-size: 13px;
}

main.App .app-body .right-body-container .right-container .rightBar .story-list-container .storyList .singleStoryItem .singleStoryItem-details-item .singleStoryItem-details-item-icon-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

main.App .app-body .right-body-container .right-container .rightBar .story-list-container .storyList .singleStoryItem .singleStoryItem-details-item .singleStoryItem-details-item-icon-con span {
  font-size: 10px;
}

main.App .paginate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

main.App .paginate-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100px;
  height: auto;
  width: 95%;
}

main.App .paginate-btn-container .paginationBtn {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main.App .paginate-btn-container .paginationBtn li {
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid #6200ee;
}

@media (max-width: 800px) {
  main.App .paginate-btn-container .paginationBtn li {
    padding: 5px 10px;
  }
}

@media (max-width: 550px) {
  main.App .paginate-btn-container .paginationBtn li {
    font-weight: lighter;
  }
}

main.App .paginationBtn li:hover {
  color: #6200ee;
  background: transparent;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

main.App .paginationActive {
  color: #6200ee;
  background: transparent;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

main.App .paginationActive a {
  color: #6200ee;
}

main.App .post {
  width: 80%;
  margin: 0;
  margin-bottom: 100px;
}

@media (max-width: 550px) {
  main.App .post {
    width: 90%;
  }
}

main.App .post .post-action-container {
  cursor: pointer;
}

main.App .post .post-action-container .post-media {
  height: 250px;
}

@media (max-width: 800px) {
  main.App .post .post-action-container .post-media {
    height: 200px;
  }
}

@media (max-width: 550px) {
  main.App .post .post-action-container .post-media {
    height: 150px;
  }
}

main.App .post .post-action-container .post-details {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.App .post .post-action-container .post-details .detail {
  font-size: 10px;
}

@media (max-width: 800px) {
  main.App .post .post-action-container .post-title {
    font-size: 22px;
  }
}

@media (max-width: 550px) {
  main.App .post .post-action-container .post-title {
    font-size: 20px;
  }
}

main.App .post .post-action-container .post-summary {
  line-height: 24px;
}

@media (max-width: 800px) {
  main.App .post .post-action-container .post-summary {
    font-size: 13px;
  }
}

@media (max-width: 550px) {
  main.App .post .post-action-container .post-summary {
    line-height: 17px;
    font-size: 11px;
  }
}

main.App .breadCrumb-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  min-height: 30px;
  height: auto;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(194, 184, 184, 0.315);
}

main.App .breadCrumb-container .breadCrumbs-item {
  margin: 0 10px;
  text-transform: uppercase;
}

main.App .breadCrumb-container .breadCrumbs-item:hover {
  color: red;
}

main.App .add-circle-btn {
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

main.App .add-circle-btn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
/*# sourceMappingURL=App.css.map */