*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "josefin Sans", sans-serif;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  margin: 0;
}

main.App {
  position: relative;
  width: 100%;
  height: auto;
  height: auto;
  overflow-x: hidden;
}

main.App .topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 10vh;
  position: fixed;
}

@media (max-width: 800px) {
  main.App .topBar {
    height: 15vh;
  }
}

main.App .topBar .topBar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 100%;
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container {
    width: 96%;
  }
}

main.App .topBar .topBar-container .logo {
  font-size: x-large;
  font-weight: lighter;
  color: white;
  font-family: cursive;
}

main.App .topBar .topBar-container .logo span {
  font-size: x-large;
  font-weight: lighter;
}

@media (max-width: 800px) {
  main.App .topBar .topBar-container .logo span {
    display: none;
  }
}

main.App .topBar .topBar-container .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(255, 255, 255, 0.319);
  padding: 7px 10px;
  border-radius: 30px;
}

main.App .topBar .topBar-container .search-container:hover, main.App .topBar .topBar-container .search-container:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container .search-container {
    padding: 5px;
  }
}

main.App .topBar .topBar-container .search-container input {
  margin-left: 10px;
  width: 50vw;
  color: white;
  height: 60%;
  background-color: transparent;
  border: none;
  font-size: 15px;
}

main.App .topBar .topBar-container .search-container input:focus {
  outline: none;
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container .search-container input {
    width: 45vw;
    display: none;
  }
}

main.App .topBar .topBar-container .search-container .cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.App .topBar .topBar-container .search-container .cancel .cancel-icon {
  font-size: 18px;
}

main.App .topBar .topBar-container .top-theme-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 50px;
  height: 25px;
  border: 2px solid white;
  border-radius: 20px;
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container .top-theme-switcher {
    width: 55px;
    height: 25px;
  }
}

main.App .topBar .topBar-container .top-theme-switcher:hover {
  cursor: pointer;
}

main.App .topBar .topBar-container .top-theme-switcher:hover .ball {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main.App .topBar .topBar-container .top-theme-switcher .ball {
  top: 0;
  left: 0;
  position: absolute;
  height: 99%;
  background-color: white;
  width: 50%;
  border-radius: 50%;
}

main.App .topBar .topBar-container .top-theme-switcher .theme-container {
  width: 50%;
  height: 100%;
}

main.App .topBar .topBar-container .loginBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 15px;
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container .loginBtn {
    font-weight: lighter;
    font-size: 16px;
  }
}

main.App .topBar .topBar-container .loginBtn:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 13px 12px -5px rgba(0, 0, 0, 0.88);
          box-shadow: 0px 13px 12px -5px rgba(0, 0, 0, 0.88);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  cursor: pointer;
}

main.App .topBar .topBar-container .loginBtn:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container .loginBtn .logIcon {
    display: none;
  }
}

main.App .topBar .topBar-container .top-profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.App .topBar .topBar-container .top-profile-container .top-profile-con {
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 50%;
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container .top-profile-container .top-profile-con {
    margin: 0;
    padding: 5px;
  }
}

main.App .topBar .topBar-container .top-profile-container .top-profile-con:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.26);
}

main.App .topBar .topBar-container .top-profile-container .top-profile-con .top-profile-main-container {
  color: white;
  position: relative;
}

main.App .topBar .topBar-container .top-profile-container .top-profile-con .top-profile-main-container .badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: -7.5px;
  right: -7.5px;
  color: white;
  font-size: 11px;
}

@media (max-width: 550px) {
  main.App .topBar .topBar-container .top-profile-container .top-profile-con.notification {
    display: none;
  }
}

main.App .app-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main.App .app-body .left-container {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  min-width: 5%;
  height: 100vh;
  padding: 0;
  padding-top: 10vh;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
          box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
}

@media (max-width: 800px) {
  main.App .app-body .left-container {
    padding-top: 15vh;
  }
}

main.App .app-body .left-container .leftBar {
  height: 100%;
  width: 100%;
  color: white;
  overflow-y: scroll;
}

main.App .app-body .left-container .leftBar::-webkit-scrollbar {
  display: none;
}

main.App .app-body .left-container .leftBar .left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 100%;
  height: 50px;
  padding: 0 20px;
}

@media (max-width: 800px) {
  main.App .app-body .left-container .leftBar .left-item {
    padding: 0 15px;
  }
}

main.App .app-body .left-container .leftBar .left-item:hover {
  background-color: rgba(255, 255, 255, 0.371);
  cursor: pointer;
}

main.App .app-body .left-container .leftBar .left-item:active {
  background-color: transparent;
  -webkit-transition: 0;
  transition: 0;
}

main.App .app-body .left-container .leftBar .left-item.menu {
  height: 70px;
  position: absolute;
}

main.App .app-body .left-container .leftBar .left-item .menu-icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  font-size: 40px;
}

@media (max-width: 800px) {
  main.App .app-body .left-container .leftBar .left-item .menu-icon {
    font-size: 30px;
  }
}

main.App .app-body .left-container .leftBar .left-item .icons {
  font-size: 35px;
}

@media (max-width: 800px) {
  main.App .app-body .left-container .leftBar .left-item .icons {
    font-size: 20px;
  }
}

main.App .app-body .left-container .leftBar .left-item span {
  padding-left: 15px;
  font-size: 19px;
  font-weight: bold;
}

@media (max-width: 800px) {
  main.App .app-body .left-container .leftBar .left-item span {
    font-size: 16px;
    font-size: lighter;
  }
}

main.App .app-body .right-body-container {
  margin-left: auto;
  width: auto;
  max-width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 10vh;
}

@media (max-width: 800px) {
  main.App .app-body .right-body-container {
    padding-top: 15vh;
  }
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 88%;
  }
}

main.App .app-body .right-body-container .body-container {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

main.App .app-body .right-body-container .body-container .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

main.App .app-body .right-body-container .body-container .home .home-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 5vh 0;
  height: 15vh;
}

main.App .app-body .right-body-container .body-container .home .home-head .title {
  font-size: 30px;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .home .home-head .title {
    font-size: 25px;
  }
}

main.App .app-body .right-body-container .body-container .home .home-head .filter-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .home .home-head .filter-container div {
    font-size: 14px;
  }
}

main.App .app-body .right-body-container .body-container .home .home-head .filter-container select {
  background-color: transparent;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

main.App .app-body .right-body-container .body-container .home .home-head .filter-container select:focus {
  outline: none;
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .body-container .home .home-head .filter-container select {
    font-size: 14px;
  }
}

main.App .app-body .right-body-container .body-container .home .home-head .filter-container select option {
  color: black;
}

main.App .app-body .right-body-container .right-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.1);
}

main.App .app-body .right-body-container .right-container .rightBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 5vh;
}

main.App .app-body .right-body-container .right-container .rightBar .right-head {
  font-size: 30px;
  width: 95%;
  height: 10vh;
  border-bottom: 1px solid lightgrey;
}

@media (max-width: 800px) {
  main.App .app-body .right-body-container .right-container .rightBar .right-head {
    font-size: 25px;
  }
}

main.App .app-body .right-body-container .right-container .rightBar .writter-list-container {
  width: 90%;
  margin-top: 3vh;
}

main.App .app-body .right-body-container .right-container .rightBar .writter-list-container .writerList {
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

main.App .app-body .right-body-container .right-container .rightBar .writter-list-container .writerList .singleListItem {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
          box-shadow: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
  margin-bottom: 20px;
  border-radius: 10px;
}

main.App .app-body .right-body-container .right-container .rightBar .writter-list-container .writerList .singleListItem:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.067);
}

main.App .app-body .right-body-container .right-container .rightBar .writter-list-container .writerList .singleListItem .img-con {
  width: 40px;
  height: 30px;
  border-right: 1px solid lightgrey;
}

main.App .app-body .right-body-container .right-container .rightBar .writter-list-container .writerList .singleListItem .img-con img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main.App .app-body .right-body-container .right-container .rightBar .writter-list-container .writerList .singleListItem .details-con {
  height: 80%;
  width: 80%;
}

@media (max-width: 800px) {
  main.App .app-body .right-body-container .right-container .rightBar .writter-list-container .writerList .singleListItem .details-con {
    width: 75%;
  }
}

@media (max-width: 550px) {
  main.App .app-body .right-body-container .right-container .rightBar .writter-list-container .writerList .singleListItem .details-con {
    width: 80%;
  }
}

main.App .app-body .right-body-container .right-container .rightBar .writter-list-container .writerList .singleListItem .details-con span.name {
  font-size: 14px;
}

main.App .app-body .right-body-container .right-container .rightBar .writter-list-container .writerList .singleListItem .details-con span.points {
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 10px;
  color: white;
}

main.App .paginate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

main.App .paginate-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100px;
  height: auto;
  width: 100%;
}

main.App .paginate-btn-container .paginationBtn {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main.App .paginate-btn-container .paginationBtn li {
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: 3px solid #6200ee;
}

@media (max-width: 800px) {
  main.App .paginate-btn-container .paginationBtn li {
    padding: 5px 10px;
  }
}

@media (max-width: 550px) {
  main.App .paginate-btn-container .paginationBtn li {
    font-weight: lighter;
  }
}

main.App .paginationBtn li:hover {
  color: #6200ee;
  background: transparent;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

main.App .paginationActive {
  color: #6200ee;
  background: transparent;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

main.App .paginationActive a {
  color: #6200ee;
}

main.App .post {
  width: 80%;
  margin: 0;
  margin-bottom: 100px;
}

@media (max-width: 550px) {
  main.App .post {
    width: 90%;
  }
}

main.App .post .post-action-container {
  cursor: pointer;
}

main.App .post .post-action-container .post-media {
  height: 250px;
}

@media (max-width: 800px) {
  main.App .post .post-action-container .post-media {
    height: 200px;
  }
}

@media (max-width: 550px) {
  main.App .post .post-action-container .post-media {
    height: 150px;
  }
}

main.App .post .post-action-container .post-details {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.App .post .post-action-container .post-details .detail {
  font-size: 10px;
}

@media (max-width: 800px) {
  main.App .post .post-action-container .post-title {
    font-size: 22px;
  }
}

@media (max-width: 550px) {
  main.App .post .post-action-container .post-title {
    font-size: 20px;
  }
}

main.App .post .post-action-container .post-summary {
  line-height: 24px;
}

@media (max-width: 800px) {
  main.App .post .post-action-container .post-summary {
    font-size: 13px;
  }
}

@media (max-width: 550px) {
  main.App .post .post-action-container .post-summary {
    line-height: 17px;
    font-size: 11px;
  }
}

main.App .add-circle-btn {
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

main.App .add-circle-btn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
/*# sourceMappingURL=App.css.map */